.header {
  height: 110px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  background: #262626;

  padding: 0 9%;

  .header__logo {
    margin-left: 10px;
  }

  .header__contacts {
    margin: 0;
    padding: 0;

    .contacts__item {
      position: relative;

      min-width: 220px;

      color: white;
      list-style: none;

      .item__inner {
        display: flex;
        align-items: center;

        margin-bottom: 10px;

        .item__icon {
          margin-right: 8px;
        }

        .item__contact {
          margin-bottom: 6px;
        }
      }

      .item__footer {
        position: absolute;
        top: 25px;
        left: 65px;

        font-size: 13px;
        font-style: italic;
      }
    }
  }

  .header__user {
    width: 26.5%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    .user__btn {
      width: 74%;

      font-family: SF Pro Display;
      font-size: 22px;
      color: #ffffff;

      background: #67a8d2;
      border: none;
      outline: none;

      padding: 9px 0;
      border-radius: 5px;
    }

    .user__icon {
      width: 44px;
      height: 44px;

      display: flex;
      align-items: center;
      justify-content: center;

      background: #67a8d2;
      border-radius: 50%;
    }
  }
}
