.main-info {
  position: relative;

  background: linear-gradient(91.37deg, #5994ba 14.63%, #adcce0 99.01%);
  color: #ffffff;

  padding: 53px 50px 115px 50px;

  .main-info__inner {
    width: 88%;
    margin: 0 auto;

    .main-info__title {
      max-width: 680px;

      font-size: 72px;
      font-weight: 500;

      letter-spacing: 5.6px;
      line-height: 73px;
    }

    .main-info__description {
      margin-top: 37px;

      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .description__block {
        height: 71px;

        margin: 0;
        font-size: 20px;

        .description__text {
          &.description__text_title {
            margin-bottom: 7px;
          }
        }
      }
    }
  }

  .main-info__offer-price {
    position: absolute;
    bottom: 62px;
    left: -2%;

    // width: 380px;
    width: 28.4%;
    height: 46px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    // padding: 0 10px;

    background: rgba(27, 86, 124, 1);
    box-shadow: 10px 10px 0 rgba(254, 133, 114, 1);

    font-size: 24px;
    padding-right: 30px;

    .offer-price__arrow {
      position: absolute;
      left: 87%;
      top: 90%;
    }
  }

  .main-info__btn {
    position: absolute;
    bottom: 64px;
    left: 479px;

    width: 232px;
    height: 44px;

    font-size: 20px;
    letter-spacing: 1px;
    color: #ffffff;

    border: none;
    outline: none;

    background: #fa6232;
    box-shadow: 0px 4px 4px rgba(46, 46, 46, 0.27);
    border-radius: 5px;
  }
}
