section(class="main-info")
  .main-info__inner
    .main-info__title Платный хостинг для сайта

    .main-info__description
      .description__block
        p(class="description__text description__text_title") Совместим с любыми CMS: 
        p(class="description__text" style="letter-spacing: 0.7px")  1С-Битрикс, Wordpress, Opencart, DLE, Joomla и др.

      .description__block
        p(class="description__text description__text_title")  Всё включено:
        p(class="description__text" style="letter-spacing: 0.54px")  PHP 5.4 – 8.0, Perl, FTP, MySQL, ISPManager
    
  .main-info__price-offer Всего от&nbsp;
    b(style="letter-spacing: 1px") 99 ₽ в месяц!

