.tariffs {
  background-color: #e5e5e5;
  padding: 94px 0;

  .tariffs__inner {
    width: 82.3%;

    margin: 0 auto;
    letter-spacing: 2px;

    .tariffs__description {
      width: 51%;
      margin-top: 57px;
    }

    .tariffs__cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, 280px);
      grid-gap: 20px;

      margin: 46px auto 0 auto;
    }
  }
}
