@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/SFProDisplay-Regular.ttf"),
    url("../assets/fonts/SFProDisplay-Regular.woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: italic;
  font-weight: 400;
  src: url("../assets/fonts/SFProDisplay-RegularItalic.ttf"),
    url("../assets/fonts/SFProDisplay-RegularItalic.woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  src: url("../assets/fonts/SFProDisplay-Semibold.ttf"),
    url("../assets/fonts/SFProDisplay-Semibold.woff");
}

@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/SFProDisplay-Bold.ttf"),
    url("../assets/fonts/SFProDisplay-Bold.woff");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  border: none;
  outline: none;
}

.navigation {
  position: relative;
  height: 60px;
  background: #ffffff;

  min-width: 320px;

  display: flex;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  padding-bottom: 4px;

  .nav {
    // width: 86.7%;
    width: 1296px;
    min-width: 300px;
    max-width: 1440px;
    height: 20px;

    overflow-x: scroll;

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
    }

    display: grid;
    grid-template-columns: 209px 182px 369px 171px 351px;

    margin: 0 auto;

    .nav__item {
      text-transform: uppercase;
      text-decoration: none;

      color: #262626;
      font-size: 20px;

      display: flex;
      align-items: center;
      justify-content: center;

      &:not(:last-child) {
        border-right: 1px solid #262626;
      }

      &.nav__item_hosting {
        // width: 12.7%;
      }
      &.nav__item_vps {
        // width: 1%;
      }
      &.nav__item_domain {
        // width: 1%;
      }
      &.nav__item_ssl {
        // width: 1%;
      }
      &.nav__item_provider {
        // width: 1%;
      }
    }
  }
}
